# requirements structured so that they support piper, kokoro and kitten tts and resolve dependency problems
# importantly:
# do not install phonemizer, kokoro brings a fork of phonemizer which is all we need and that it depends on
soundfile
librosa
numpy
kokoro-onnx
onnxruntime
piper-tts
# for kittentts (this is preferred over pip install kittentts)
kittentts @ https://github.com/KittenML/KittenTTS/releases/download/0.1/kittentts-0.1.0-py3-none-any.whl