# requirements structured so that they support piper, kokoro and kitten tts and resolve dependency problems
# importantly:
# do not install phonemizer, kokoro brings a fork of phonemizer which is all we need and that it depends on
soundfile
librosa
numpy
kokoro-onnx
onnxruntime
piper-tts