## for kittentts (this is preferred over pip install kittentts)
# kittentts @ https://github.com/KittenML/KittenTTS/releases/download/0.1/kittentts-0.1.0-py3-none-any.whl

## for pockettts (optional, uncomment if you want to use pockettts, will pull in pytorch )
pocket-tts